#blue{
    background-color: rgb(229, 239, 248);
    height: 80vh;
}
.profile{
    position: relative;
 
}
.pen-icon{
    position: absolute;
    bottom: -15%;
    left: 38%;
    transform: translate(-38%,15%);
    padding: 5px 13px;
    
}
.add-btn{
    padding-left: 5rem;
    padding-right: 5rem;
}